*{
  margin: 10px;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Digital-7';
  src: url('./fonts/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
.DigitalClock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Digital-7';
  font-size: 48px;
  color: gray;
  border: 15px solid gray;
  border-radius: 15px;
  background-color: black;
  color: whitesmoke;
  min-width: 300px;
  min-height: 140px;
}